nav{
    margin: 0 auto;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: white;
    //width: 980px;
    //height: 90px;
    padding: 50 50;
    
    span{
        color: #79ADDC;
    }
    
    
    
    .black-nav-holder{
        //position: absolute;
        margin: 0 auto;
        width: 100%; 
        max-width: 980px;
        height: 90px;
        box-sizing: border-box;
        
        background: rgba(0,0,0,0);
        border-bottom: 1px solid black;
        top: 0px;
        margin-top: 15px;
        //margin-left: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        //background-color: black;
        .logo{
            .logotravel{
                width: 95px;
                height: 42px;
                background-image: url(../images/logo-black.png);
                

            }
        }
            
            div {
                display: flex;     
                
                color: black;
                font-size: 25px;
                font-family: 'Gill Sans';
                padding-top: 18px;
            }
        
            a{
                margin-left: 25px;
                color: black;
                font-size: 17px;
                text-decoration: none;
                font-family: 'Gill Sans';
            }
        
        
    }

    
    
    
}

@media all and (max-width: 850px){
    nav{
        
        span{
          
        }
        
        
        
        .black-nav-holder{
            flex-direction: column;
            padding-bottom: 125px;
            .logo{
                .logotravel{
                    
                    
    
                }
            }
                
                div {
                    
                }
            
                a{
                    
                }
            
            
        }
    
        
        
        
    }
    
}