.places {
    height: 1137px;
    max-width: 980px;
    //background-color: red;
    justify-content: center;
    align-items: center;
    //display: flex;
    margin: 0 auto;
    //background-color: red;
    .r1{
        justify-content: center;
        align-items: center;
        display: flex;
        //margin: 0 auto;
        display: flex;
        .trip1{
            height: 304px;
            min-width: 236px;
            background-color: purple;
            margin: 60px;
            background-image: url(../images/Group\ 50.png);
            justify-content: center;
            align-items: center;
            text-align: center;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            justify-content: center;
            h1{
                margin-top: 60px;
                margin-bottom: 0px;
                color: white;
                font-size: 40px;
                font-family: 'Gill Sans';
                font-style: italic;
                font-weight: normal;
            }
            h2{
                color: white;
                margin-bottom: 70px;
                text-decoration: none;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-transform: uppercase;
                font-weight: normal;
                font-style: italic;
            }
            
            .learn{
                height: 40px;
                width: 133px;
                margin-left: 52px;
                background-color: #79ADDC;
                border-radius: 25px;
                align-items: center;
                text-align: center;
                a{
                    text-decoration: none;
                }
                p{
                    color: white;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    padding-top: 9px;
                    font-size: 17px;
                    //font: bolder;
                    font-family: 'Gill Sans';
                }
            }
        }
        .trip2{
            height: 304px;
            min-width: 236px;
            background-color: purple;
            background-image: url(../images/Group\ 36.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            justify-content: center;
            align-items: center;
            text-align: center;
            h1{
                margin-top: 60px;
                margin-bottom: 0px;
                color: white;
                font-size: 40px;
                font-family: 'Gill Sans';
                font-style: italic;
                font-weight: normal;
            }
            h2{
                color: white;
                margin-bottom: 70px;
                //font-size: 40px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-transform: uppercase;
                font-weight: normal;
                font-style: italic;
            }
            
            .learn{
                height: 40px;
                width: 133px;
                margin-left: 52px;
                background-color: #79ADDC;
                border-radius: 25px;
                align-items: center;
                text-align: center;
                a{
                    text-decoration: none;
                }
                p{
                    color: white;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    padding-top: 9px;
                    font-size: 17px;
                    //font: bolder;
                    font-family: 'Gill Sans';
                }
            }
        }
        .trip3{
            height: 304px;
            width: 236px;
            background-color: purple;
            margin: 60px;
            background-image: url(../images/Group\ 37.png);
            justify-content: center;
            align-items: center;
            text-align: center;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            justify-content: center;
            h1{
                margin-top: 60px;
                margin-bottom: 0px;
                color: white;
                font-size: 40px;
                font-family: 'Gill Sans';
                font-style: italic;
                font-weight: normal;
            }
            h2{
                color: white;
                margin-bottom: 70px;
                font-weight: normal;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-transform: uppercase;
                font-weight: normal;
                font-style: italic;
            }
            
            .learn{
                height: 40px;
                width: 133px;
                margin-left: 52px;
                background-color: #79ADDC;
                border-radius: 25px;
                align-items: center;
                text-align: center;
                a{
                    text-decoration: none;
                }
                
                p{
                    color: white;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    padding-top: 9px;
                    font-size: 17px;
                    //font: bolder;
                    font-family: 'Gill Sans';
                }
            }
        }
    
    }
    .r2{
        justify-content: center;
        align-items: center;
        display: flex;
        //margin: 0 auto;
        //background-color: black;
        height: 304px;
        width: 100%;
        
        
        .trip1{
            height: 304px;
            min-width: 236px;
            background-color: purple;
            margin: 60px;
            background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/tour-04.jpg);
            justify-content: center;
            align-items: center;
            text-align: center;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            
            h1{
                margin-top: 60px;
                margin-bottom: 0px;
                color: white;
                font-size: 35px;
                font-family: 'Gill Sans';
                font-style: italic;
                font-weight: normal;
            }
            h2{
                color: white;
                margin-bottom: 70px;
                text-decoration: none;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-transform: uppercase;
                font-weight: normal;
                font-style: italic;
            }
            
            .learn{
                height: 40px;
                width: 133px;
                margin-left: 52px;
                background-color: #79ADDC;
                border-radius: 25px;
                align-items: center;
                text-align: center;
                a{
                    text-decoration: none;
                }
                p{
                    color: white;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    padding-top: 9px;
                    font-size: 17px;
                    //font: bolder;
                    font-family: 'Gill Sans';
                }
            }
        }
        .trip2{
            height: 304px;
            min-width: 236px;
            background-color: purple;
            background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/tour-05.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            justify-content: center;
            align-items: center;
            text-align: center;
            h1{
                margin-top: 60px;
                margin-bottom: 0px;
                color: white;
                font-size: 40px;
                font-family: 'Gill Sans';
                font-style: italic;
                font-weight: normal;
            }
            h2{
                color: white;
                margin-bottom: 70px;
                //font-size: 40px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-transform: uppercase;
                font-weight: normal;
                font-style: italic;
            }
            
            .learn{
                height: 40px;
                width: 133px;
                margin-left: 52px;
                background-color: #79ADDC;
                border-radius: 25px;
                align-items: center;
                text-align: center;
                a{
                    text-decoration: none;
                }
                p{
                    color: white;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    padding-top: 9px;
                    font-size: 17px;
                    //font: bolder;
                    font-family: 'Gill Sans';
                }
            }
        }
        .trip3{
            height: 304px;
            width: 236px;
            background-color: purple;
            margin: 60px;
            background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/tour-06.jpg);
            justify-content: center;
            align-items: center;
            text-align: center;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            justify-content: center;
            h1{
                margin-top: 60px;
                margin-bottom: 0px;
                color: white;
                font-size: 40px;
                font-family: 'Gill Sans';
                font-style: italic;
                font-weight: normal;
            }
            h2{
                color: white;
                margin-bottom: 70px;
                font-weight: normal;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-transform: uppercase;
                font-weight: normal;
                font-style: italic;
            }
            
            .learn{
                height: 40px;
                width: 133px;
                margin-left: 52px;
                background-color: #79ADDC;
                border-radius: 25px;
                align-items: center;
                text-align: center;
                a{
                    text-decoration: none;
                }
                
                p{
                    color: white;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    padding-top: 9px;
                    font-size: 17px;
                    //font: bolder;
                    font-family: 'Gill Sans';
                }
            }
        }
    
    }
    .r3{
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 0 auto;
        //background-color: black;

        
        .trip1{
            height: 304px;
            min-width: 236px;
            background-color: purple;
            margin: 60px;
            background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/tour-07.jpg);
            justify-content: center;
            align-items: center;
            text-align: center;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            justify-content: center;
            h1{
                margin-top: 60px;
                margin-bottom: 0px;
                color: white;
                font-size: 40px;
                font-family: 'Gill Sans';
                font-style: italic;
                font-weight: normal;
            }
            h2{
                color: white;
                margin-bottom: 70px;
                text-decoration: none;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-transform: uppercase;
                font-weight: normal;
                font-style: italic;
            }
            
            .learn{
                height: 40px;
                width: 133px;
                margin-left: 52px;
                background-color: #79ADDC;
                border-radius: 25px;
                align-items: center;
                text-align: center;
                a{
                    text-decoration: none;
                }
                p{
                    color: white;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    padding-top: 9px;
                    font-size: 17px;
                    //font: bolder;
                    font-family: 'Gill Sans';
                }
            }
        }
        .trip2{
            height: 304px;
            min-width: 236px;
            background-color: purple;
            background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/tour-08.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            justify-content: center;
            align-items: center;
            text-align: center;
            h1{
                margin-top: 60px;
                margin-bottom: 0px;
                color: white;
                font-size: 40px;
                font-family: 'Gill Sans';
                font-style: italic;
                font-weight: normal;
            }
            h2{
                color: white;
                margin-bottom: 70px;
                //font-size: 40px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-transform: uppercase;
                font-weight: normal;
                font-style: italic;
            }
            
            .learn{
                height: 40px;
                width: 133px;
                margin-left: 52px;
                background-color: #79ADDC;
                border-radius: 25px;
                align-items: center;
                text-align: center;
                a{
                    text-decoration: none;
                }
                p{
                    color: white;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    padding-top: 9px;
                    font-size: 17px;
                    //font: bolder;
                    font-family: 'Gill Sans';
                }
            }
        }
        .trip3{
            height: 304px;
            width: 236px;
            background-color: purple;
            margin: 60px;
            background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/tour-09.jpg);
            justify-content: center;
            align-items: center;
            text-align: center;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            justify-content: center;
            h1{
                margin-top: 60px;
                margin-bottom: 0px;
                color: white;
                font-size: 40px;
                font-family: 'Gill Sans';
                font-style: italic;
                font-weight: normal;
            }
            h2{
                color: white;
                margin-bottom: 70px;
                font-weight: normal;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-transform: uppercase;
                font-weight: normal;
                font-style: italic;
            }
            
            .learn{
                height: 40px;
                width: 133px;
                margin-left: 52px;
                background-color: #79ADDC;
                border-radius: 25px;
                align-items: center;
                text-align: center;
                a{
                    text-decoration: none;
                }
                
                p{
                    color: white;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    padding-top: 9px;
                    font-size: 17px;
                    //font: bolder;
                    font-family: 'Gill Sans';
                }
            }
        }
    
    }
}

@media all and (max-width: 850px){
    .places {
        padding-bottom: 3300px;
        //height: 3000px;
        justify-content: space-between;
        //height: 5000px;
        //background-color: black;
        .r1{
           flex-direction: column;
           justify-content: space-between;
            
            .trip1{
                height: 304px;
                min-width: 236px;
                h1{
                    
                }
                h2{
                    
                }
                
                .learn{
                   
                    a{
                       
                    }
                    p{

                    }
                }
            }
            .trip2{
                height: 304px;
                min-width: 236px;
                h1{
                  
                }
                h2{
                    
                }
                
                .learn{
                   
                    a{
                        
                    }
                    p{
                       
                    }
                }
            }
            .trip3{
                height: 304px;
                min-width: 236px;
                h1{
                   
                }
                h2{
                   
                }
                
                .learn{
                   
                    a{
                        
                    }
                    
                    p{
                        
                    }
                }
            }
        
        }
        .r2{
            flex-direction: column;
            justify-content: space-between;
            
            .trip1{
                height: 304px;
                min-width: 236px;
                
                h1{
                  
                }
                h2{
                    
                }
                
                .learn{
              
                    a{
                        
                    }
                    p{
                        
                    }
                }
            }
            .trip2{
                height: 304px;
            min-width: 236px;
                h1{
                  
                }
                h2{
                    
                }
                
                .learn{
                   
                    a{
                       
                    }
                    p{
                        
                    }
                }
            }
            .trip3{
                height: 304px;
            min-width: 236px;
                h1{
                    
                }
                h2{
                    
                }
                
                .learn{
                    
                    a{
                        
                    }
                    
                    p{
                        
                    }
                }
            }
        
        }
        .r3{
            flex-direction: column;
            padding-top: 700px;
            justify-content: space-between;
            .trip1{
                height: 304px;
                min-width: 236px;
                h1{
                   
                }
                h2{
                   
                }
                
                .learn{
                 
                    a{
                        
                    }
                    p{
                       
                    }
                }
            }
            .trip2{
                height: 304px;
                min-width: 236px;
                h1{
              
                }
                h2{
                   
                }
                
                .learn{
                    
                    a{
                       
                    }
                    p{
                     
                    }
                }
            }
            .trip3{
                height: 304px;
                min-width: 236px;
                h1{
                   
                }
                h2{
                   
                }
                
                .learn{
                    
                    a{
                       
                    }
                    
                    p{
                       
                    }
                }
            }
        
        }
    }
}