.tours{
    height: 200px;
    max-width: 980px;
    display: flex;
    
    align-items: center;
    margin: 0 auto;
    background-color: black;
    margin-top: 49px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/tours-header.jpg);
    
    .tours-holder{
        
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 60px;
        font-family: 'Gill Sans';
        font-weight: light;
        
        .tours-text{
            text-decoration: none;
        }
    }
}